.clearfix::after{content:""; display:block; clear:both;}

.container-full {
    max-width: 100%;
    padding: 0px 5% 0px 5%;
}

.default-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.default-col {
    flex: 0 0 100%; /* 기본적으로 전체 너비를 차지 */
    padding: 8px; /* pa-2에 해당하는 값 */
}

.gs-top-apply-btn {
    background-color:#147c7f !important;
    color:white !important;
    width:130px !important;
    height:40px !important;
    text-align:center !important;
    line-height:24px !important;
    font-size:24px !important;
    margin:-7px 0 0 10px !important;
}
.gs-bottom-apply-btn {
    background-color:#147c7f !important;
    color:white !important;
    width:100% !important;
    height:50px !important;
    text-align:center !important;
}
.gs-mobile-btn-title {
    margin-left:10px;
    font-size:16px;
}
.gs-review-btn {
    width:90px !important;
    height:30px !important;
    text-align:center !important;
    line-height:30px !important;
    font-size:20px !important;
    margin:-7px 0 10px 0 !important;
}

.gs-review-background {
    width:45px;
    height:45px;
    border-radius:100%;
    overflow:hidden;
    float:left;
    margin-right:10px;
    text-align:center;
    line-height:45px;
    color:white;
    font-weight:700;
    font-size:24px;
}

.gs-review-star-color {
    color:#147c7f;
}

.gs-review-full-box {
    margin:10px 10px 10px 0; 
    width:100%;
}
.gs-review-box {
    margin-top:20px;
}
.gs-review-page-number {
    font-size:35px; 
    color:#147c7f !important; 
    cursor:pointer;
}

.gs-instructor-card {
    width:49% !important;
    margin-right:2% !important;
    background-color: white !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 10px !important;
    box-shadow: 0 1px 8px rgba(22,22,22, 0.1) !important;
    height:500px !important;
}
.gs-instructor-card-name {
    width:80% !important;
    height:50px !important;
    background-color:#e6e9f9 !important;
    margin:0 auto !important;
    border-radius:10px !important;
    margin-top:-25px !important;
    text-align:center !important;
    position:relative !important;
}

.gs-the-entire-package {
    display:inline-flex; width:100% !important;
}

.gs-course-content {
    font-weight:500 !important;
    opacity:0.8 !important;
}

.gs-table-default {
    width:100% !important;
    border : 1px solid black !important;
}

.gs-table-default th {
    border : 1px solid black !important;
    border-collapse : collapse !important;
    margin: auto !important;
    text-align: center !important; 
}

.gs-table-default td {
    border : 1px solid black !important;
}
.gs-manager {
    margin:45px 20px 15px 0 !important;
    font-weight:700 !important;
}
code{
    background: none !important;
    color: black !important;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (min-width: 600px) { /* sm */
    .default-col {
        flex: 0 0 100%; /* sm 크기에서 절반 너비 */
    }
}

@media (min-width: 960px) { /* md */
    .default-col {
        flex: 0 0 33.3%; /* md 크기에서 절반 너비 */
    }
}

@media only screen and (max-width:750px){
    .gs-the-entire-package {
        display:block !important;
        width:100% !important;
    }

    .gs-instructor-card {
        width:100% !important;
        margin-right:0% !important;
        margin-top:10px !important;
        background-color: white !important;
        border: 1px solid #e5e5e5 !important;
        border-radius: 10px !important;
        box-shadow: 0 1px 8px rgba(22,22,22, 0.1) !important;
        height:500px !important;
    }
}

/* 2K 해상도 (2560px) 이상 */
@media screen and (min-width: 2560px) {
    h1, .main-slide-h2 {
        font-size: 2.7rem !important; /* 더 큰 크기로 조정 */
    }
    h2 {
        font-size: 2.5rem !important;
    }
    h3 {
        font-size: 2.2rem !important;
    }
    h4 {
        font-size: 2rem !important;
    }
    p,
    ol,
    ul,
    pre,
    strong,
    a div,
    li a,
    blockquote,
    td {
        font-size: 1.25rem !important;
    }
}
/* 4K 해상도 (3840px) 이상 */
@media screen and (min-width: 3840px) {
    h1, .main-slide-h2 {
        font-size: 3.5rem !important; /* 더욱 큰 크기로 조정 */
    }
    h2 {
        font-size: 3rem !important;
    }
    h3 {
        font-size: 2.75rem !important;
    }
    h4 {
        font-size: 2.5rem !important;
    }
    p,
    ol,
    ul,
    pre,
    strong,
    a div,
    li a,
    blockquote,
    td {
        font-size: 1.5rem !important;
    }
}